@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(135deg, #153677 , #4e085f );
    display: flex;
   
   justify-content: center;
}
.card{
    background-color: #fff;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px 30px 70px;
}
.heading{
    display: flex;
    margin: 10px 0 20px 40px;
    color:#002765;
    
}
.heading img{
   width: 25px;
   margin-left: 10px;

}
.input{
    border-radius: 30px;
    background-color: #edeef0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 20px;
  margin-bottom: 30px;

}
.input input{
   
   font-weight: 14px;
    flex: 1;
    border: none;
    padding: 10px;
    background-color: transparent;
   outline: none;
}
.input button{
    cursor: pointer;
    font-size: 16px;
   outline: none;
    border: none;
    padding: 16px 50px;
    background-color: #ff5945;
    border-radius: 40px;
    color: #fff;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
cursor: pointer;
position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./assests/unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(./assests/checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    color: #555;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;
}
@media (min-width:344px) and (max-width: 768px){
    .container {
        
        width: 100%;
        
      }
    .card{
       
        width: 85%;
        
        margin: 100px auto 20px;
        
        padding: 40px 8px 70px;
      }
     .card .heading{
        padding: 0;


}
.input{
    padding: 0;
    justify-content: normal;
}
.input input{
    padding: 0 0 0 5px;
}
.input button{
padding: 8px 5px;
font-size: 14px;
}


}